<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction Request Response</title>
    <style>
      /* Add your CSS styles here */
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
      }
      h2 {
        color: #333333;
        margin-top: 0;
      }
      p {
        color: #666666;
        margin-bottom: 15px;
      }
      .footer {
        margin-top: 20px;
        /* text-align: center; */
        color: #888888;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hello <%= requestorName %>,</h2>
      <p>
        Here is the response to your connect request with <%= connectionName %>
        of <%= connectionCompany %>.
      </p>
      <p><%= message %></p>
      <p class="footer">Regards,<br />Blume Team</p>
    </div>
  </body>
</html>
